{:profiles {:Default {:default true
                      :sim     50
                      :delay   500
                      :held    250
                      :alone   2000}}

 :devices {:kb_internal [{:vendor_id 1452 :product_id 834}]
           :kb_uhk [{:vendor_id 14248 :product_id 3}]
           :kb_togkey [{:vendor_id 65261 :product_id 34439}]}

 :main [{:des "caps_lock to f17 on kb_internal" :rules [[:caps_lock :f17 :kb_internal]]},
        {:des "fn space to backspace on kb_internal" :rules [[:!Fspacebar :delete_or_backspace :kb_internal]]},
        {:des "fn to arrow keys on kb_internal" :rules [[:!Fl  :right_arrow :kb_internal],[:!Fh :left_arrow :kb_internal],[:!Fj :down_arrow :kb_internal],[:!Fk :up_arrow :kb_internal]]},
        {:des "tab to fn when held"
         :rules [[:##tab :fn nil {:alone :tab}]]}]}
